html {
  background: goldenrod;
}

#grid {
  position: relative;
  background: lightblue;
  width: 400px;
  height: 600px;
  font-size: 200px;
  text-align: center;
}

.doodler {
  background: red;
  width: 60px;
  height: 85px;
  position: absolute;
}

.platform {
  background: green;
  height: 15px;
  position: absolute;
  width: 85px;
}
